apiVersion: apps/v1
kind: Deployment
metadata:
  name: rochefolle
  namespace: jsc-ns
  labels:
    app: rochefolle
spec:
  selector:
    matchLabels:
      app: rochefolle
      tier: frontend
  strategy:
    type: Recreate
  template:
    metadata:
      namespace: jsc-ns
      labels:
        app: rochefolle
        tier: frontend
    spec:
      containers:
        - image: nginx:latest
          name: rochefolle
          resources:
            requests:
              ephemeral-storage: "400Mi"
              memory: "400Mi"
            limits:
              ephemeral-storage: "500Mi"
              memory: "400Mi"
          ports:
            - containerPort: 80
              name: rochefolle
          volumeMounts:
            - name: rochefolle-persistent-storage
              mountPath: /usr/share/nginx/html
      volumes:
        - name: rochefolle-persistent-storage
          persistentVolumeClaim:
            claimName: rochefolle-pv-claim
