apiVersion: v1
kind: Service
metadata:
  name: rochefolle-svc
  namespace: jsc-ns
  labels:
    app: rochefolle
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: 80
  selector:
    app: rochefolle
    tier: frontend
