apiVersion: beat.k8s.elastic.co/v1beta1
kind: Beat
metadata:
  name: jsc-filebeat
  namespace: jsc-ns
spec:
  type: filebeat
  version: 8.17.2
  config:
    filebeat:
      inputs:
        - type: container
          paths:
            - /var/log/containers/*.log
      autodiscover:
        providers:
          - type: kubernetes
            node: ${NODE_NAME}
            templates:
              - config:
                  - type: container
                    paths:
                      - /var/log/containers/*${data.kubernetes.container.id}.log
                conditions:
                  or:
                    - contains.kubernetes.container.name: narok-wp
                    - contains.kubernetes.container.name: jsc-mu-game
            hints:
              enabled: true
    output:
      logstash:
        hosts: ["jsc-logstash-ls-beats:5044"]
    processors:
      - add_cloud_metadata: {}
      - add_host_metadata: {}
      - drop_event:
          when:
            not:
              or:
                - contains.kubernetes.container.name: jsc-mu-game
                - contains.kubernetes.container.name: narok-wp
  daemonSet:
    podTemplate:
      spec:
        serviceAccountName: filebeat
        automountServiceAccountToken: true
        terminationGracePeriodSeconds: 30
        dnsPolicy: ClusterFirstWithHostNet
        hostNetwork: true
        containers:
          - name: filebeat
            securityContext:
              runAsUser: 0
            volumeMounts:
              - name: varlogcontainers
                mountPath: /var/log/containers
              - name: varlogpods
                mountPath: /var/log/pods
              - name: varlibdockercontainers
                mountPath: /var/lib/docker/containers
            env:
              - name: NODE_NAME
                valueFrom:
                  fieldRef:
                    fieldPath: spec.nodeName
        volumes:
          - name: varlogcontainers
            hostPath:
              path: /var/log/containers
          - name: varlogpods
            hostPath:
              path: /var/log/pods
          - name: varlibdockercontainers
            hostPath:
              path: /var/lib/docker/containers
