apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n-app
  namespace: jsc-ns
  labels:
    app: n8n-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: n8n-app
      tier: frontend
  strategy:
    type: Recreate
  template:
    metadata:
      namespace: jsc-ns
      labels:
        app: n8n-app
        tier: frontend
    spec:
      initContainers:
        - name: volume-permissions
          image: busybox:1.36
          command: ["sh", "-c", "chown 1000:1000 /data"]
          volumeMounts:
            - name: n8n-claim0
              mountPath: /data
      containers:
        - command:
            - /bin/sh
          args:
            - -c
            - sleep 5; n8n start
          env:
            - name: DB_TYPE
              value: postgresdb
            - name: DB_POSTGRESDB_HOST
              value: postgres-service.jsc-ns.svc.cluster.local
            - name: DB_POSTGRESDB_PORT
              value: "5432"
            - name: N8N_RUNNERS_ENABLED
              value: "true"
            - name: N8N_SECURE_COOKIE
              value: "false"
            - name: DB_POSTGRESDB_DATABASE
              value: n8n
            - name: WEBHOOK_URL
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: N8N_WEBHOOK_URL
            - name: DB_POSTGRESDB_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_NON_ROOT_USER
            - name: DB_POSTGRESDB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_NON_ROOT_PASSWORD
            - name: N8N_PROTOCOL
              value: http
            - name: N8N_PORT
              value: "5678"
            - name: N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS
              value: "true"
            - name: N8N_BLOCK_ENV_ACCESS_IN_NODE
              value: "true"
            - name: N8N_GIT_NODE_DISABLE_BARE_REPOS
              value: "true"
            - name: N8N_SKIP_AUTH_ON_OAUTH_CALLBACK
              value: "true"
          image: n8nio/n8n:2.2.3
          name: n8n
          ports:
            - containerPort: 5678
              name: n8n-app
          resources:
            requests:
              memory: "500Mi"
            limits:
              memory: "1024Mi"
          volumeMounts:
            - mountPath: /home/node/.n8n
              name: n8n-claim0
      restartPolicy: Always
      volumes:
        - name: n8n-claim0
          persistentVolumeClaim:
            claimName: n8n-claim0
        - name: n8n-secret
          secret:
            secretName: n8n-secret
        - name: postgres-secret
          secret:
            secretName: postgres-secret
