apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: jsc-ns
  labels:
    service: postgres-n8n
spec:
  type: ClusterIP
  ports:
    - name: "5432"
      port: 5432
      targetPort: 5432
      protocol: TCP
  selector:
    service: postgres-n8n
  externalIPs:
    - 192.168.1.132
