apiVersion: v1
kind: ConfigMap
metadata:
  name: narok-wp-apache-configmap
  namespace: jsc-ns
data:
  log.conf: |
    LogFormat "{ \
      \"@timestamp\": \"%{%Y-%m-%dT%H:%M:%S%z}t\", \
      \"remote_addr\": \"%a\", \
      \"http_host\": \"%v\", \
      \"request_method\": \"%m\", \
      \"request_uri\": \"%U\", \
      \"query\": \"%q\", \
      \"scheme\": \"%H\", \
      \"status\": \"%>s\", \
      \"bytes_sent\": \"%B\", \
      \"http_referrer\": \"%{Referer}i\", \
      \"http_user_agent\": \"%{User-Agent}i\", \
      \"request_time\": \"%D\", \
      \"http_x_forwarded_for\": \"%a\", \
      \"http_version\": \"%H\", \
      \"request\": \"%r\" \
    }" json
  000-default.conf: |
    <VirtualHost *:80>
      ServerName narok.io
      ServerAdmin webmaster@localhost
      DocumentRoot /var/www/html
      ErrorLog ${APACHE_LOG_DIR}/error.log
      CustomLog ${APACHE_LOG_DIR}/access.log json

    </VirtualHost>
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: narok-gpt-configmap
  namespace: jsc-ns
data:
  public.jwks: |
    {"keys": [{"alg":"RS512","e":"AQAB","kid":"618367bc-0a44-40c0-a947-e1962e8f5e56","kty":"RSA","n":"q9jcBwOKtBqf26zHuoqnaS7fuLmg_c0uzg-adL5Gq_rn7YKi9yA8eEOfEUoS3gzz7cay3URJ-VoyIIZJMi__29zOxuOoNwNnAHKm8MnnltKaFbfAUuUorsZafa38ze-Z7DFUTiOy03mnjeWib9htAz0ppO2qrAo33Cve1UL66tsVE76PDXA43pywlFPLQ0MdlUwF1HIePUyJbqu11vvybKSAbU2Dy4uzoIfYVnP5wMrf6iiCJ6UaP67SSGkCMb3t_6A2ybe9BeKDPkXK7c9aXWgxwq3KJTtBN8iww_PEz9jitFWIsZahsnTbgKqldqVIjIiAcAnZd4cQblDYAkjoyKDlcysRIrLv-K8b9KuTR-olQI0ejIStUBo1YlcipfT8n_T1gfPtZ0XsRKCR9HfSFcNGYRFThkCaSe4oSOYi9xN06M1W-w1ABjyMDKhUADfsequ9-kduihB6ZOOENh7WAWc9XxuPVBlhAw4X_sBfSJIUxX1UhYXPP9G7pgE-FgorvwxCD5pOtcKhSpJe0uDNq9V2PTjh6TFpllnfL6krP0xymXcpwwrCe_GVGFgd6QqUW9GXi0MQfZXkv_oFxX4TcyCezK44dncqCIKhO4BKVQu9L0017i6dlnnkVc6LegxZ9BSzPp8VQAvQwsDSmkpvB_j2JI7BrBhpGhfPxSo8bSU"}]}
  nginx.conf: |
    daemon off;
    user nginx;
    worker_processes auto;
    error_log /var/log/nginx/error.log;
    pid /run/nginx.pid;

    load_module modules/ngx_http_auth_jwt_module.so;

    events {
        worker_connections 1024;
    }

    http {
        include /etc/nginx/mime.types;
        default_type application/octet-stream;

        log_format json_combined escape=json '{'
            '"@timestamp": "$time_iso8601", '
            '"remote_addr": "$remote_addr", '
            '"remote_user": "$remote_user", '
            '"request_id": "$request_id", '
            '"body_bytes_sent": $body_bytes_sent, '
            '"bytes_sent": $bytes_sent, '
            '"connection": "$connection", '
            '"connection_requests": $connection_requests, '
            '"content_type": "$sent_http_content_type", '
            '"msec": $msec, '
            '"pipe": "$pipe", '
            '"request_time": $request_time, '
            '"status": $status, '
            '"http_referrer": "$http_referer", '
            '"http_user_agent": "$http_user_agent", '
            '"http_x_forwarded_for": "$http_x_forwarded_for", '
            '"http_host": "$http_host", '
            '"request_length": $request_length, '
            '"request_method": "$request_method", '
            '"request_uri": "$request_uri", '
            '"scheme": "$scheme", '
            '"server_addr": "$server_addr", '
            '"server_name": "$server_name", '
            '"server_port": $server_port'
        '}';

        access_log /var/log/nginx/access.log json_combined;

        sendfile on;
        keepalive_timeout 65;
        gzip on;

        server {
            listen 80;
            server_name llm.narok.io;

            location / {
                auth_jwt "Restricted";
                auth_jwt_key_file /etc/nginx/conf.d/public.jwks;
                
                proxy_pass http://192.168.1.41:11434;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto $scheme;

                # WebSocket support
                proxy_http_version 1.1;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection "upgrade";
            }
        }

        server {
            listen 80;
            server_name gpt.narok.io;

            location / {
                
                proxy_pass http://192.168.1.41:3000;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto $scheme;

                # WebSocket support
                proxy_http_version 1.1;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection "upgrade";
            }
        }
    }
