apiVersion: apps/v1
kind: Deployment
metadata:
  name: narok-gpt
  namespace: jsc-ns
  labels:
    app: narok-gpt
spec:
  selector:
    matchLabels:
      app: narok-gpt
      tier: frontend
  strategy:
    type: Recreate
  template:
    metadata:
      namespace: jsc-ns
      labels:
        app: narok-gpt
        tier: frontend
    spec:
      containers:
        - image: jscdroiddev/jsc-nginx-jwt:0.0.2
          name: narok-gpt
          resources:
            requests:
              ephemeral-storage: "0.5Gi"
              memory: "250Mi"
            limits:
              ephemeral-storage: "1Gi"
              memory: "300Mi"
          env:
            - name: TZ
              value: Asia/Bangkok
          ports:
            - containerPort: 80
              name: narok-gpt
          volumeMounts:
            - name: narok-gpt-jwt-key
              mountPath: /etc/nginx/conf.d/
      volumes:
        - name: narok-gpt-jwt-key
          configMap:
            name: narok-gpt-configmap
            items:
              - key: public.jwks
                path: public.jwks
              - key: nginx.conf
                path: nginx.conf
